/*start common*/
body {
    background-color: #fff;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.clear{ clear: both; }
.text-center{ text-align: center; }
/*end common*/

/*start content-holder*/
.home-content-holder {
    min-height: 100vh;
    padding-bottom: 30px;
    padding-top: 70px;
}
.page-wrapper {
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
}
/*end content-holder*/

/*start home page*/
.home-logo {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 230px;
}
.home-logo img {
    max-width: 100%;
    height: auto;
}
.home-slogan {
    font-size: 20px;
    margin-top: 70px;
    padding: 0 10px;
}
.download {
    font-size: 20px;
    margin-top: 10px;
    padding: 0 10px;
}
.and-div {
    font-size: 20px;
    margin-top: 10px;
    padding: 0 10px;
}
.home-download-btn {
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 27px auto 0;
    width: 220px;
    padding: 10px 20px;
    text-decoration: none;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.app-download-btn {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    width: 220px;
    padding: 10px 20px;
    text-decoration: none;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
.btn-first {
    background-color: #1473E6;
}
.btn-second {
    background-color: #052459;
}
/*end home page*/