<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.w3engineers.ext.viper">

    <application
        android:name="com.w3engineers.ext.strom.App"
        tools:replace="android:name">

        <!--Added to replace the value, although dependency library might also use crashlytics. As rightmesh already use that-->


        <!--The process name is always prefixed by App's Id. So fixed name not going to be a issue and
        separate App would generate separate unique process name-->
        <service
            android:name="com.w3engineers.ext.viper.application.data.remote.service.BaseRmService"
            android:stopWithTask="false"
            android:enabled="true"
            android:exported="true"
            android:description="@string/app_local_service_description"
            android:process="@string/base_rm_process_name">
        </service>
    </application>

</manifest>
