<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.w3engineers.unicef.telemesh">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name="com.w3engineers.unicef.TeleMeshApplication"
        android:allowBackup="true"
        android:configChanges="locale"
        tools:replace="android:name"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.createuser.CreateUserActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".ui.splashscreen.SplashActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.chooseprofileimage.ProfileImageActivity" />
        <activity android:name=".ui.userprofile.UserProfileActivity" />
        <activity android:name=".ui.aboutus.AboutUsActivity" />
        <activity android:name=".ui.mywallet.MyWalletActivity" />
        <activity android:name=".ui.buydata.BuyDataActivity" />
        <activity android:name=".ui.selldata.SellDataActivity" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <provider
            android:authorities="${applicationId}.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shared_file_paths" />
        </provider>

        <receiver android:name=".ui.settings.BluetoothInAppShareBroadcast" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>